@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Marcellus&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;

}

body {
    font-weight: 200;
    color: #363537;
    font-family: Roboto;

}

h1 {
    font-family: Marcellus;
    color: #363537;
}

#logo {
    padding: 15px;
    font-size: 75px;
    margin: 10px;
    background-color: #DCED31;
}

#menu {
    font-family: Roboto;
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 5px;
    margin-right: 25px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}


#menu li {
    list-style-type: none;
    margin: 0 10px 10px 10px;
    display: inline;
    letter-spacing: 2px;
}

/* Hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../assets/images/violet.jpeg');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}